.learnrun_header_logo {
    margin: 2rem 0; font-family: 'Jua', sans-serif;
}

.learnrun_header_button{
    margin_bottom: 2rem;
}

.learnrun_footer_botton{
    margin: 1.5rem 0; font-family: 'Jua', sans-serif;
}

.learnrun_footer_logo{
    margin-top: 1.5rem; color : aqua;
}

.mw-500{
    max-width : 500px;
    padding: 1rem 1.5rem;
}

.profile_image{
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNS_B{
    font-family: "NanumSquareB", cursive;
}