<div style = 'text-align: center'>

    <div class = "learnrun_header_logo">
        <h1>LearnRun</h1>
    </div>
    <div class = "learnrun_header_button">
        <a href="{% url 'articleapp:list' %}">
            Articles
        </a>
        <a href="{% url 'projectapp:list' %}">
            Projects
        </a>
        {% if user.is_authenticated %}
        <a href="{% url 'subscribeapp:list' %}">
            Subscription
        </a>
        {% endif %}

        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'helloapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'helloapp:create' %}">
                SignUp
            </a>
        </span>

        {% else %}
        <span>
            <a href="{% url 'helloapp:detail' pk=user.pk %}">
                MyPage
            </a>
        </span>
        <span>
            <a href="{% url 'helloapp:logout' %}">
                LogOut
            </a>
        </span>
        {% endif %}

    </div>

</div>